* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

body {
  position: relative;
  font-family: "Segoe UI", sans-serif;
  color: #ffffff;
  background: linear-gradient(to right, #1f1c2c, #928dab);
  line-height: 1.2;
}

/* nav Bar */

nav {
  background-color: #928dab91;
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  box-shadow: 0px 0px 10px 0px #1f1c2c;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items {
  list-style: none;
  padding: 1rem 0px 1rem 1.5rem;
}
.items {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 550;
  font-size: 1.2rem;
}
.nav-items:hover .items {
  text-decoration: underline 0.2rem;
}
.container-home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0rem 0 3rem;
}

/* Home Section */

#home-section {
  padding-top: 8.5rem;
  color: #fff;
  text-align: center;
}
.myImage {
  width: 25rem;
}
.name {
  font-size: 2.8rem;
}
.name > span {
  color: rgb(189, 47, 47);
  font-size: 4rem;
}
.tagline {
  padding-top: 1.5rem;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.contact-links a {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.contact-links a:hover {
  text-decoration: underline;
}
.home-content {
  text-align: left;
}
.brochure-link {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-decoration: none;
  font-weight: 500;
  color: black;
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  transition: background-color 300ms, color 100ms;
}
.brochure-link:hover {
  background-color: black;
  color: white;
}

/* About me Section */

#aboutme {
  margin-top: 5%;
}
.secondry-head,
.main-head {
  font-size: 1.5rem;
}
.main-head {
  text-align: center;
  padding-top: 5rem;
}
.secondry-head {
  text-align: center;
}
.about-me-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4% 8% 0% 8%;
}

.imgme {
  padding-left: 10rem;
}

.home-desc {
  margin-top: 5%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #1f1c2c;
  padding: 2rem;
  box-shadow: 0px 0px 10px 0px #1f1c2c;
  border-radius: 10px;
  transition: box-shadow 250ms;
}
.home-desc:hover {
  box-shadow: 0px 0px 40px 0px #1f1c2c;
}
.home-desc > p {
  text-align: justify;
}
.Information {
  margin-top: 1.3rem;
}
.infox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.infox > span {
  margin-left: 1rem;
}

/* Skill Section */

#skill {
  margin: 0% 5% 0% 8%;
  padding-top: 2%;
  padding-bottom: 8%;
}
.skillContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.progressBar {
  background-color: white;
  padding: 2rem;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #1f1c2c;
  transition: box-shadow 250ms;
}
.progressBar:hover {
  box-shadow: 0px 0px 40px 0px #1f1c2c;
}

.bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 0px;
}
.barHead,
.barPercent {
  font-size: 1.2rem;
  font-weight: 500;
}
.baseBar {
  position: absolute;
  width: 100%;
  height: 0.5rem;
  background-color: black;
  border-radius: 10px;
  bottom: 0px;
}

/* skills progress */

.htmlBar {
  width: 70%;
  background-color: #868686;
}
.cssBar {
  width: 70%;
  background-color: #868686;
}
.jsBar {
  width: 40%;
  background-color: #868686;
}
.reactBar {
  width: 20%;
  background-color: #868686;
}
.flutterBar {
  width: 80%;
  background-color: #868686;
}
.pythonBar {
  width: 60%;
  background-color: #868686;
}
.cBar {
  width: 65%;
  background-color: #868686;
}

.skillImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
}
.iconskill {
  width: 7rem;
  padding-left: 2rem;
  padding-bottom: 2.3rem;
  transform: scale(1);
  transition: transform 150ms;
}
.iconskill:hover {
  transform: scale(1.2);
}

#projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 5rem 2rem 0rem 2rem;
}

.card1,
.card2 {
  display: grid;
  align-items: center;
  background: rgba(184, 182, 182, 0.2);
  color: white;
  padding: 1.5rem;
  height: 15rem;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.5s, background 0.3s, box-shadow 250ms;
  box-shadow: 0px 0px 5px 0px #1f1c2c;
}

.card1:hover {
  transform: translateY(-10px) rotate(-1deg);
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 40px 0px #1f1c2c;

  color: black;
}
.card2:hover {
  transform: translateY(-10px) rotate(1deg);
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 40px 0px #1f1c2c;

  color: black;
}
.card1 > a {
  color: #000000;
}
.card2 > a {
  color: #000000;
}

/* contact section */

#contact {
  margin: 0% 8% 0px 8%;
  padding-top: 5%;
}
.iconCollection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 10px;
}

.brands {
  color: black;
  font-size: 2rem;
}
.icon:hover {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(0, 0, 0)
  );
  animation: rotation 5s;
}
.icon:hover .brands {
  color: white;
  animation: rotation 3s;
}

@keyframes rotation {
  0% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(30deg);
    transform: scale(1.25);
  }
  60% {
    transform: rotate(-30deg);
    transform: scale(1.25);
  }
  80% {
    transform: rotate(30deg);
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.25);
  }
}

/* Footer */

#footer {
  margin-top: 10rem;
  text-align: center;
  padding: 1.7rem 0;
  background: #000000;
  font-size: 0.9rem;
  color: white;
}
.upArrow {
  background-color: white;
  float: right;
  margin: -40px 20px 20px 0px;
}

/* scrollbar */

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(145, 145, 145);
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

@media (max-width: 760px) {
}
